nav{
    height: 70px;
    width: 100%;
    border-bottom: 2px gray solid;;
    background-color: #e6e6e6;
}
.nav-link{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
}
#head_name{
    padding-top: 15px;
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 50px;
    font-family: 'Roboto Slab', serif;
}
.form_body{
    display: block;
    text-align: center;
    margin-top: 15px;
}
/*.all{
    display: block;
    text-align: center;
    margin-top: 30px;
}*/
.col-form-label{
    font-size: 24px;
    padding-right: 0px;
    padding-left: 45px;
}
.col-sm-10{
    padding-left: 12px;
}
.all{
    margin: 0 auto;
    /*margin-left: 280px;*/
    /*margin-right: 280px;*/
    width: 80%;
    margin-top: 40px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 60%;
    display: inline-block;
    margin: auto;
}
.service,.introduction{
    display: inline-block;
    margin: auto;
}
.service{
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction{
    font-size: 20px;
    margin-bottom: 25px;
}
body{
    margin: 0px;
}
.btn{
    margin-top: 10px;
    width: 150px;
}
footer{
    width: 100%;
    position:absolute;
    bottom:0;
    left: 0;
    height: 100px;
    overflow: hidden;
}
.result{
    font-family: 'Roboto Slab', serif;
    margin-top: 36px;
    font-size: 24px;
}
.nav-right{
    padding-right: 20px;
}
