<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title> TLSNotary </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/generate.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
	</head>

	<body>
<!--		<div class="nav">-->
<!--			<p id="head_name">TLSNotary - Proof File Production</p>-->
<!--		</div>-->


		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <p id="head_name">TLSNotary - Proof File Production</p>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="generate_proof.html">Generate <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-right" href="review">Review</a>
                  </li>
                </ul>
          </div>
		</nav>


		<div class="content">
			<div class="all">
<!--				<h3 class="service">-->
<!--					Service Description-->
<!--				</h3>-->
<!--				<br>-->
<!--				<p class="introduction">-->
<!--					Provide multiple trusted external data access services including random numbers, whether, etc., and support the generation and preservation of data proof-->
<!--				</p>-->
				<img src="/static/images/logo.png" alt="TLSNotary logo" width="50%" height="auto">
			</div>

            <div class="form_body">
                <form method="post">
                  <div class="form-group">
					  <table>
						  <div class="form-group row">
							  <label for="inputUrl" class="col-form-label"><i>www.</i></label>
							  <div class="col-sm-10">
							  	<input type="text" name="url" class="form-control form-control-lg" id="inputUrl" aria-describedby="emailHelp" placeholder="Please enter the URL address corresponding to the data source">
							  </div>
						  </div>
					  </table>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Generate</button>
                </form>
				<div class="result">
					<p class="result">{% if result %} {{result}} {% endif %}</p>
					{% if ok == "True" %}
						<img src="/static/images/right.png" alt="successfully generate"width="50px" height="50px">
						<script>
							window.open('https://{{url}}', "_blank");
						</script>
					{% endif %}
					{% if ok == "False" %}
						<img src="/static/images/wrong.png" alt="fail to generate" width="50px" height="50px">
					{% endif %}
				</div>
            </div>
		</div>
	</body>

	<footer class="py-4 bg-dark">
<!--		<div class="container">-->
		  <p class="text-center text-white foot">Copyright &copy; TLSNotary 2020</p>
<!--		</div>-->
		<!-- /.container -->
	</footer>
</html>