<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title> TLSNotary </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/review.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</head>

	<body>
<!--		<div class="nav">-->
<!--			<p id="head_name">TLSNotary - Verify Proof File</p>-->
<!--		</div>-->

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<p id="head_name">TLSNotary - Verify Proof File</p>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				  <ul class="nav navbar-nav ml-auto">
					  <li class="nav-item">
						<a class="nav-link" href="generate">Generate</a>
					  </li>
					  <li class="nav-item active">
						  <a class="nav-link nav-right" href="review">Review <span class="sr-only">(current)</span></a>
					  </li>
					</ul>
			  </div>
			</nav>

		<div class="content">
			<div class="all">
				<img src="/static/images/logo.png" alt="TLSNotary logo" width="50%" height="auto">
			</div>

			<div class="form_body">
				<form method="post">
					<table>
						<div class="custom-file">
							<input type="file" name="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Upload a file to verify</label>
							<small id="emailHelp" class="form-text text-muted">Verification result will be displyed after the verification is complete.</small>
						</div>
					</table>
					<button type="submit" class="btn btn-primary btn-lg">Start Verification</button>
				</form>

				<script>
					$(".custom-file-input").on("change", function() {
					  var fileName = $(this).val().split("\\").pop();
					  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
					});
				</script>

				<div class="result">
					<p class="result">{% if result %} {{result}} {% else %} {% endif %}</p>
					{% if ok == "True" %}
<!--							{{result}} -->
						<img src="/static/images/right.png" alt="successfully verify"width="50px" height="50px">
					{% endif %}
					{% if ok == "False" %}
						<img src="/static/images/wrong.png" alt="fail to verify" width="50px" height="50px">
					{% endif %}
				</div>
			</div>
		</div>
	</body>

	<footer class="py-4 bg-dark">
	<!--		<div class="container">-->
			  <p class="text-center text-white foot">Copyright &copy; TLSNotary 2020</p>
	<!--		</div>-->
			<!-- /.container -->
	</footer>
</html>